.featured{
    padding:20px 80px 60px;
}

.featured h2{
    margin-top:10px;
    margin-left:100px;
    margin-bottom:50px;
}

.cards{
  display:flex;
  justify-content:center;
  gap:15px;
  flex-wrap:wrap
}