.featured{
    max-width:1400px;
    margin:0 auto;
    padding:60px 40px;
}

.featured h2{
    margin-left:260px;   /* increase until it aligns with the cards */
    font-size:30px;
    color:var(--primary);
}

.cards{
  display:flex;
  justify-content:center;
  gap:15px;
  flex-wrap:wrap
}